body {
	background-color: #442220;
}
table {
	align : center;
	border-collapse: collapse
}
tr:nth-child(even) {background: #809848}
tr:nth-child(odd) {background: #B0CA87}
td ,th {
	padding : 15px;
}
#forms {
	text-align: center;
}
select {
	padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #2E0014;
font-weight: bold;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#table {
	text-align: center;
	width: : 1000px;
    margin-left: auto ;
    margin-right: auto ;
}